a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.3em;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin-bottom: .25em;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1.0em;
}
h4 {
  font-size: .95 em;
}
p {
  margin-bottom: .25em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
}
html {
  height: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  min-height: 401px;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.content-container {
  width: 100%;
  margin: 0;
  min-width: 400px;
  padding: 5vh 0;
}
.content-container .content {
  width: 80vw;
  margin: 0 auto;
}
.content-container .content .section {
  width: 100%;
  margin: 0;
  padding: 0;
  white-space: normal;
}
.content-container .content .section .grid {
  width: 100%;
  margin: 25px 0;
  text-align: center;
}
.content-container .content .section .grid.two-col .box {
  box-sizing: border-box;
  width: 38vw;
  border-bottom: 1.5px solid #06343f;
  padding: 2vw 6vw;
  display: inline-block;
}
.content-container .content .section .grid.two-col .box p {
  margin: 10px;
}
.content-container .content .section .grid.two-col .box .button-container {
  width: 100%;
  margin: 10px 0;
  display: inline-block;
}
.content-container .content .section .grid.two-col .box:nth-last-of-type(-n+2) {
  border-bottom: none;
}
.content-container .content .section .grid.two-col .box:nth-of-type(odd) {
  border-right: 1.5px solid #06343f;
}
.content-container .content .section .grid.two-col .box:nth-of-type(even) {
  margin: -4px;
}
.content-container .divider-overlay-tab {
  position: relative;
  bottom: 5vw;
  display: table;
  text-align: center;
  height: 5vw;
  width: 10vw;
  margin: 0 auto;
  color: #06343f;
  background: #fff;
  border-top-left-radius: 5vw;
  border-top-right-radius: 5vw;
}
.content-container .divider-overlay-tab a {
  display: table-cell;
  vertical-align: middle;
  color: #06343f;
  font-size: 5vw;
}
.content-container:first-of-type {
  padding: 0;
}
.content-container.dark {
  background: #171717;
  color: #fff;
}
.content-container.highlight-color {
  background: #06343f;
  color: #fff;
}
.content-container.light {
  background: #fff;
  color: #171717;
}
.content-container:last-of-type {
  margin-bottom: 0;
}
.button {
  color: #fff;
  background: #06343f;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}
#home-landing-wrapper.content-container {
  background: linear-gradient(to right, #042128, #171717, #171717, #171717, #171717, #171717, #171717, #171717, #171717, #042128);
  position: relative;
  z-index: 2;
  height: 95vh;
}
#home-landing-wrapper.content-container .content {
  position: relative;
  height: 95vh;
}
#home-landing-wrapper.content-container .content #top-nav {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 0;
  padding-left: 0;
  z-index: 2;
}
#home-landing-wrapper.content-container .content #top-nav li {
  display: inline-block;
  margin-left: 15px;
}
#home-landing-wrapper.content-container .content #top-nav li a {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
#home-landing-wrapper.content-container .content .section {
  display: table;
  height: 95vh;
}
#home-landing-wrapper.content-container .content .section .logo-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#home-landing-wrapper.content-container .content .section .logo-container img {
  width: 15vw;
  height: auto;
}
#services background h2 {
  margin-top: 25px;
}
#services h1,
#services h2,
#services h3,
#services h4 {
  text-transform: capitalize;
  text-align: left;
}
#services p {
  text-align: left;
  display: block;
  margin: 12.5px 0 0;
  min-height: 75px;
}
#services .button-container {
  text-align: left;
}
#link-hub {
  background: linear-gradient(to bottom right, #06343f, #0a5a6e, #06343f);
}
#link-hub ul {
  text-align: center;
  padding-left: 0;
}
#link-hub ul li {
  display: inline-block;
  margin: 0 25px;
  font-size: 20px;
  background: #06343f;
  min-width: 215px;
}
#link-hub ul li a {
  text-decoration: none;
  width: 100%;
}
#link-hub ul li a button {
  width: 100%;
}
#link-hub ul li a button img,
#link-hub ul li a button span {
  color: #fff;
  text-decoration: none;
}
#link-hub ul li a button img {
  height: 25px;
  position: relative;
  margin-right: 5px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  a #spot-link span {
    position: relative;
    bottom: .3rem;
  }
}
@media (max-width: 800px) {
  #home-landing-wrapper.content-container {
    min-height: 375px;
  }
  #home-landing-wrapper.content-container .content #top-nav {
    font-size: 3vw;
  }
  #home-landing-wrapper.content-container .content .section {
    width: 100%;
    padding-top: 0;
  }
  #home-landing-wrapper.content-container .content .section .logo-container {
    margin-top: 100px;
  }
  #home-landing-wrapper.content-container .content .section .copy-container {
    padding-bottom: 50px;
  }
  #home-landing-wrapper.content-container .content .section .copy-container h1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 50px;
  }
  #home-landing-wrapper.content-container .content .section .copy-container h1 br {
    display: inline;
  }
  #home-landing-wrapper.content-container .content .section .copy-container .button-container {
    bottom: initial;
  }
  #home-landing-wrapper.content-container .content .section .copy-container,
  #home-landing-wrapper.content-container .content .section .logo-container {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  #home-landing-wrapper.content-container .content .section .copy-container h1,
  #home-landing-wrapper.content-container .content .section .logo-container h1 {
    font-size: 6vw;
  }
  #services p {
    margin: 12.5px 0;
    min-height: 0;
  }
  .content-container .content .section .grid.two-col .box {
    width: 100%;
    border-bottom: 1.5px solid #06343f;
    margin: 25px 0;
  }
  .content-container .content .section .grid.two-col .box:first-of-type {
    margin: 0 0 25px;
  }
  .content-container .content .section .grid.two-col .box:nth-last-of-type(-n+2) {
    border-bottom: 1.5px solid #06343f;
  }
  .content-container .content .section .grid.two-col .box:nth-of-type(odd) {
    border-right: none;
  }
  .content-container .content .section .grid.two-col .box:last-of-type {
    border-bottom: none;
  }
  #link-hub .content ul {
    text-align: center;
    width: 100%;
    margin: 25px 0;
  }
  #link-hub .content ul li {
    display: block;
    margin: 10px auto;
  }
  #spot-link {
    top: auto;
    bottom: 115px;
  }
}
@keyframes slide-in-left {
  0% {
    left: -49px;
  }
  50% {
    left: 0;
  }
  65% {
    left: -1.6px;
  }
  80% {
    left: 0;
  }
  95% {
    left: -0.8px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes slide-in-right {
  0% {
    right: -49px;
  }
  50% {
    right: 0;
  }
  65% {
    right: -1.6px;
  }
  80% {
    right: 0;
  }
  95% {
    right: -0.8px;
  }
  100% {
    right: 0;
  }
}
